.App {
  font-family: sans-serif;
  margin: 10px;
}

.custom-date {
  width: auto;
}

.DateInput {
  visibility: hidden;
  width: 0.2px;
}

.input {
  margin-top: 2px;
  width: 200px;
}

.MuiFormControl-marginDense {
  margin: 0;
}

.SingleDatePickerInput_calendarIcon {
  padding: 0;
  margin: 0;
}

.SingleDatePickerInput_calendarIcon:focus {
  outline: none;
}

button.MuiIconButton-root:hover {
  background-color: rgba(0, 0, 0, 0);
}

span.MuiTouchRipple-root {
  display: none;
}
